body {
    background-color: rgb(255, 249, 207) !important;
    border-radius: 0% !important;
}

.Celo {
    flex-wrap: nowrap;
}

@media screen and (max-width: 767px){

    .Kolona {
        
        width: 100% !important;

    }
    .Kolona .btn {
        min-width: 100% !important;
    }
    .Obrnuto {
        flex-wrap: wrap-reverse;
    }
}

.Kolona {
    width: 50%;
}

.LevaKolonaFormi {
    flex-wrap: nowrap;
    max-height: 800px;
    overflow-y: scroll;
}

.DesnaKolonaFormi {
    flex-wrap: nowrap;
    max-height: 800px;
    overflow-y: scroll;
}

.LevoCelo {
    max-height: 800px;
    overflow-y: scroll;
}

.FormaPromeniSifru {
    max-width: 300px;
}

.FormaDodajAdministratora {
    max-width: 300px;
}

.PozadinaZaGreskuPrijavljivanja {

    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    min-width: 100%;
    background-color: rgba(76,70,70,0.96);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 3001;
    text-align: center;
    
}