html {
    background-color: rgb(255, 249, 207) !important;
}

body {
    background-color: rgb(255, 249, 207) !important;
    border-radius: 0% !important;
}

.Epohe {
    width: 100% !important;
    display: block !important;
}

.HeaderSlika {
    height: 200px !important;
}

.KontejnerPesnikaSaLinkom {
    justify-content: center;
}

.FormaZaPrijavljivanje {
    background-color: #9ac2ff;
}
.FormaZaPrijavljivanje input{
    width: 100%;
}

@media screen and (max-width: 767px){
    .Obrnuto {
        
        flex-wrap: wrap-reverse;

    }
    .FormaZaPrijavljivanje {
        width: 100%;
        margin-bottom: 20px;
    }
}