@media screen and (max-width: 767px){
    .Obrnuto {
        
        flex-wrap: wrap-reverse;

    }
}
.OkvirPesme {
    border: 2px dashed rgb(213, 191, 29);
}

.PesmeIstihTema {
    font-size: small;
}

.PesmeIstihTema .card-body {
    padding: 2px;
    margin: 2px;
    max-width: 150px !important;
    width: 150px !important;
    min-width: 150px !important;
}

.PesmeIsteEpohe .card-body {
    font-size: small;
    padding: 2px;
    margin: 2px;
    max-width: 150px !important;
    width: 150px !important;
    min-width: 150px !important;
}

.PesniciIsteEpohe .card-body {
    font-size: small;
    padding: 2px;
    margin: 2px;
    max-width: 150px !important;
    width: 150px !important;
    min-width: 150px !important;
}

.Grupa {
    border-bottom: 1px solid rgb(213, 191, 29);
    margin-bottom: 2px;
}

.KontejnerPesnikaSaLinkom .card-body {
    max-height: 100px !important;
}

.KontejnerPesmeSaLinkom .card-body {
    max-height: 220px !important;
}


