@media screen and (max-width: 767px){
    .biografija {
        
        flex-wrap: wrap-reverse;

    }
}


.biografija {
    display: flex;
    flex-direction: row;
    border: 2px dashed rgb(213, 191, 29);
}

.pesme {
    display: flex;
    flex-direction: row;

}

.text1{
    font-size: 25px;
}

.Grupa {
    border-bottom: 1px solid rgb(213, 191, 29);
    margin-bottom: 2px;
}